<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.flower-platform.com/xmi/astcache_code_1.0.0"
            class="com.crispico.flower.mp.model.astcache.code.AstCacheCodePackage"
            genModel="emf_model/AstCacheCode.genmodel"/>
   </extension>

</plugin>
