<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.git.explorer.GitRootChildrenProvider">
         <nodeType
               nodeType="or">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerNodeDataProvider">
      <explorerNodeDataProvider
            provider="org.flowerplatform.web.git.explorer.GitRootNodeDataProvider">
         <nodeType
               nodeType="gitrp">
         </nodeType>
      </explorerNodeDataProvider>
   </extension>
</plugin>
