<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.git.explorer.GitOrganizationChildrenProvider">
         <nodeType
               nodeType="or">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerNodeDataProvider">
      <explorerNodeDataProvider
            provider="org.flowerplatform.web.git.explorer.GitRootNodeDataProvider">
         <nodeType
               nodeType="gitrp">
         </nodeType>
      </explorerNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.git.explorer.GitRootChildrenProvider">
         <nodeType
               nodeType="gitrp">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerNodeDataProvider">
      <explorerNodeDataProvider
            provider="org.flowerplatform.web.git.explorer.RepositoryNodeDataProvider">
         <nodeType
               nodeType="rp">
         </nodeType>
      </explorerNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.git.explorer.RepositoryChildrenProvider">
         <nodeType
               nodeType="rp">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerNodeDataProvider">
      <explorerNodeDataProvider
            provider="org.flowerplatform.web.git.explorer.RepositoryChildrenNodeDataProvider">
         <nodeType
               nodeType="lbrs">
         </nodeType>
         <nodeType
               nodeType="rbrs">
         </nodeType>
         <nodeType
               nodeType="tgs">
         </nodeType>
         <nodeType
               nodeType="rmts">
         </nodeType> 
         <nodeType
               nodeType="wdirs">
         </nodeType>          
      </explorerNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.git.explorer.RefsChildrenProvider">
         <nodeType
               nodeType="lbrs">
         </nodeType>
         <nodeType
               nodeType="rbrs">
         </nodeType>
         <nodeType
               nodeType="tgs">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerNodeDataProvider">
      <explorerNodeDataProvider
            provider="org.flowerplatform.web.git.explorer.RefNodeDataProvider">
         <nodeType
               nodeType="lbr">
         </nodeType>
         <nodeType
               nodeType="rbr">
         </nodeType>
         <nodeType
               nodeType="tg">
         </nodeType>
      </explorerNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.git.explorer.RemotesChildrenProvider">
         <nodeType
               nodeType="rmts">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerNodeDataProvider">
      <explorerNodeDataProvider
            provider="org.flowerplatform.web.git.explorer.RemoteNodeDataProvider">
         <nodeType
               nodeType="rmt">
         </nodeType>
      </explorerNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.git.explorer.WorkingDirsChildrenProvider">
         <nodeType
               nodeType="wdirs">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerNodeDataProvider">
      <explorerNodeDataProvider
            provider="org.flowerplatform.web.git.explorer.WorkingDirNodeDataProvider">
         <nodeType
               nodeType="wdir">
         </nodeType>
         <nodeType
               nodeType="fld">
         </nodeType>
         <nodeType
               nodeType="fl">
         </nodeType>
      </explorerNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.git.explorer.WorkingDirChildrenProvider">
         <nodeType
               nodeType="wdir">
         </nodeType>
         <nodeType
               nodeType="fld">
         </nodeType>
         <nodeType
               nodeType="fl">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="GitHistoryStatefulService"
            serviceClass="org.flowerplatform.web.git.history.communication.GitHistoryStatefulService">
      </service>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="gitService"
            serviceClass="org.flowerplatform.web.git.GitService">
      </service>
   </extension>
</plugin>
