<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.flowerplatform.common.flowerProperties">
      <flowerPropertiesProvider
            flowerPropertiesProviderClass="org.flowerplatform.orion.server.OrionFlowerPropertiesProvider">
      </flowerPropertiesProvider>
   </extension>
  
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/flowerplatform/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebContent/"
            httpcontextId="flower-platform">
      </servlet>
      <servlet
            alias="/flowerplatform/messagebroker"
            class="flex.messaging.MessageBrokerServlet"
            httpcontextId="flower-platform">
      </servlet>
      <servlet
            alias="/flowerplatform/servlet"
            class="org.flowerplatform.communication.FlowerDispatcherServlet"
            httpcontextId="flower-platform">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="flower-platform">
         <resource-mapping
               bundle="org.flowerplatform.orion.client"
               path="/web/flower">
         </resource-mapping>
         <resource-mapping
               bundle="org.flowerplatform.flex_host_app"
               path="/WebContent">
         </resource-mapping>
         <resource-mapping
               bundle="org.flowerplatform.flex_host_app"
               path="/bin">
         </resource-mapping>
         <resource-mapping
               bundle="org.flowerplatform.orion.server"
               path="/WebContent">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="flower-platform.client">
         <resource-mapping
               bundle="org.flowerplatform.orion.client"
               path="/web">
         </resource-mapping>
      </httpcontext>
   </extension>
   <extension
         id="/messagebroker"
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/flowerplatform"
            httpcontextId="flower-platform">
      </resource>
      <resource
            alias="/flowerplatform/client"
            httpcontextId="flower-platform.client">
      </resource>
      <serviceSelector
            filter="(other.info=org.eclipse.orion)">
      </serviceSelector>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="orionOperationsService"
            serviceClass="org.flowerplatform.orion.server.OrionOperationsService">
      </service>
   </extension>

</plugin>
