<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="notation"
            icon="public-resources/images/FlowerDiagramEditor.gif"
            id="org.flowerplatform.eclipse.editor.FlowerDiagramEditorLauncher"
            launcher="org.flowerplatform.eclipse.part.FlowerDiagramEditorLauncher"
            name="%editor.launcher1">
      </editor>
      <editor
            class="org.flowerplatform.eclipse.part.FlowerDiagramEditor"
            default="false"
            id="org.flowerplatform.eclipse.editor.FlowerDiagramEditor"
            matchingStrategy="org.flowerplatform.eclipse.part.FlowerDiagramMatchingStrategy"
            name="%editor.name">
      </editor>
      <editor
            default="false"
            extensions="notation"
            icon="public-resources/images/FlowerDiagramEditor.gif"
            id="org.flowerplatform.eclipse.OpenInNewEditor"
            launcher="org.flowerplatform.eclipse.part.FlowerDiagramEditorLauncherOpenInNewEditor"
            name="%editor.launcher2">
      </editor>
   </extension>
    <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="flower-platform">
         <resource-mapping
               bundle="org.flowerplatform.flex_host_app"
               path="/WebContent">
         </resource-mapping>
         <resource-mapping
               bundle="org.flowerplatform.flex_host_app"
               path="/bin">
         </resource-mapping>
         <resource-mapping
               bundle="org.flowerplatform.eclipse"
               path="/WebContent">
         </resource-mapping>
      </httpcontext>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/"
            base-name="/"
            httpcontextId="flower-platform">
      </resource>
      <serviceSelector
            filter="(other.info=org.flowerplatform.eclipse)">
      </serviceSelector>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebContent/"
            httpcontextId="flower-platform">
      </servlet>
      <servlet
            alias="/messagebroker"
            class="flex.messaging.MessageBrokerServlet"
            httpcontextId="flower-platform">
      </servlet>
      <servlet
            alias="/servlet/public-resources"
            class="org.flowerplatform.communication.public_resources.PublicResourcesServlet"
            httpcontextId="flower-platform"
            load-on-startup="false">
      </servlet>
      <serviceSelector
            filter="(other.info=org.flowerplatform.eclipse)">
      </serviceSelector>
   </extension>
   <extension
         point="org.flowerplatform.common.flowerProperties">
      <flowerPropertiesProvider
            flowerPropertiesProviderClass="org.flowerplatform.eclipse.EclipseFlowerPropertiesProvider">
      </flowerPropertiesProvider>
   </extension>

</plugin>
