<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="javaScriptProjectPropertyPageService"
            serviceClass="org.flowerplatform.editor.javascript.propertypage.remote.JavaScriptProjectPropertyPageService">
      </service>
   </extension>

</plugin>
