<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="explorerNodeDataProvider" name="explorerNodeDataProvider" schema="schema/explorerNodeDataProvider.exsd"/>
   <extension-point id="explorerChildrenProvider" name="explorerChildrenProvider" schema="schema/explorerChildrenProvider.exsd"/>
   <extension-point id="explorerAdditionalNodePopulator" name="explorerAdditionalNodePopulator" schema="schema/explorerAdditionalNodePopulator.exsd"/>
   <extension-point id="nodeTypeToCategoriesMapping" name="nodeTypeToCategoriesMapping" schema="schema/nodeTypeToCategoriesMapping.exsd"/>
   <extension-point id="workingDirChildrenProvider" name="workingDirChildrenProvider" schema="schema/workingDirChildrenProvider.exsd"/>
   <extension-point id="workingDirNodeDataProvider" name="workingDirNodeDataProvider" schema="schema/workingDirNodeDataProvider.exsd"/>
   <extension
         id="org.flowerplatform.web.DummyApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.flowerplatform.web.DummyApplication">
         </run>
      </application>
   </extension>
   
   <!-- Explorer extensions -->
   <extension
         name="rw"
         point="org.flowerplatform.web.explorerNodeDataProvider">
      <explorerNodeDataProvider
            provider="org.flowerplatform.web.explorer.AbstractFileWrapperNodeDataProvider">
         <nodeType
               nodeType="fsFile">
         </nodeType>
         <nodeType
               nodeType="projFile">
         </nodeType>
      </explorerNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.nodeTypeToCategoriesMapping">
      <nodeTypeToCategoriesMapping
            nodeType="organization">
         <nodeTypeCategory
               nodeTypeCategory="pathFragmentNamePointsToFile">
         </nodeTypeCategory>
      </nodeTypeToCategoriesMapping>
   </extension>

   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.explorer.Organization_RootChildrenProvider">
         <nodeType
               nodeType="r">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerNodeDataProvider">
      <explorerNodeDataProvider
            provider="org.flowerplatform.web.explorer.OrganizationNodeDataProvider">
         <nodeType
               nodeType="organization">
         </nodeType>
      </explorerNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.explorer.FileSystem_OrganizationChildrenProvider">
         <nodeType
               nodeType="organization">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerNodeDataProvider">
      <explorerNodeDataProvider
            provider="org.flowerplatform.web.explorer.FileSystemNodeDataProvider">
         <nodeType
               nodeType="fileSystem">
         </nodeType>
      </explorerNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.nodeTypeToCategoriesMapping">
      <nodeTypeToCategoriesMapping
            nodeType="fsFile">
         <nodeTypeCategory
               nodeTypeCategory="pathFragmentNamePointsToFile">
         </nodeTypeCategory>
         <nodeTypeCategory
               nodeTypeCategory="decoratableFile">
         </nodeTypeCategory>
      </nodeTypeToCategoriesMapping>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.explorer.FsFile_FileSystemChildrenProvider">
         <nodeType
               nodeType="fileSystem">
         </nodeType>
         <nodeType
               nodeType="fsFile">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.projects.WorkingDirectories_OrganizationChildrenProvider">
         <nodeType
               nodeType="organization">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerNodeDataProvider">
      <explorerNodeDataProvider
            provider="org.flowerplatform.web.projects.WorkingDirectoriesNodeDataProvider">
         <nodeType
               nodeType="workingDirectories">
         </nodeType>
      </explorerNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.nodeTypeToCategoriesMapping">
      <nodeTypeToCategoriesMapping
            nodeType="workingDirectory">
         <nodeTypeCategory
               nodeTypeCategory="pathFragmentNamePointsToFile">
         </nodeTypeCategory>
      </nodeTypeToCategoriesMapping>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.projects.WorkingDirectory_WorkingDirectoriesChildrenProvider">
         <nodeType
               nodeType="workingDirectories">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerNodeDataProvider">
      <explorerNodeDataProvider
            provider="org.flowerplatform.web.projects.WorkingDirectoryNodeDataProvider">
         <nodeType
               nodeType="workingDirectory">
         </nodeType>
      </explorerNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.nodeTypeToCategoriesMapping">
      <nodeTypeToCategoriesMapping
            nodeType="project">
         <nodeTypeCategory
               nodeTypeCategory="pathFragmentNamePointsToFile">
         </nodeTypeCategory>
         <nodeTypeCategory
               nodeTypeCategory="decoratableFile">
         </nodeTypeCategory>
      </nodeTypeToCategoriesMapping>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.projects.Project_WorkingDirectoryChildrenProvider">
         <nodeType
               nodeType="workingDirectory">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerNodeDataProvider">
      <explorerNodeDataProvider
            provider="org.flowerplatform.web.projects.ProjectNodeDataProvider">
         <nodeType
               nodeType="project">
         </nodeType>
      </explorerNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.nodeTypeToCategoriesMapping">
      <nodeTypeToCategoriesMapping
            nodeType="projFile">
         <nodeTypeCategory
               nodeTypeCategory="pathFragmentNamePointsToFile">
         </nodeTypeCategory>
         <nodeTypeCategory
               nodeTypeCategory="decoratableFile">
         </nodeTypeCategory>
      </nodeTypeToCategoriesMapping>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerChildrenProvider">
      <explorerChildrenProvider
            provider="org.flowerplatform.web.projects.ProjFile_ProjectChildrenProvider">
         <nodeType
               nodeType="project">
         </nodeType>
         <nodeType
               nodeType="projFile">
         </nodeType>
      </explorerChildrenProvider>
   </extension>
   
   <!-- Other extensions -->
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="userService"
            serviceClass="org.flowerplatform.web.security.service.UserService">
      </service>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="groupService"
            serviceClass="org.flowerplatform.web.security.service.GroupService">
      </service>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="organizationService"
            serviceClass="org.flowerplatform.web.security.service.OrganizationService">
      </service>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="permissionService"
            serviceClass="org.flowerplatform.web.security.service.PermissionService">
      </service>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="sendMailService"
            serviceClass="org.flowerplatform.web.security.mail.SendMailService">
      </service>
   </extension>
   <extension
         point="org.flowerplatform.communication.authenticator">
      <authenticator
            authenticatorClass="org.flowerplatform.web.security.sandbox.FlowerWebAuthenticator"
            id="flowerWebAuthenticator">
      </authenticator>
   </extension>
   <extension
         point="org.flowerplatform.web.explorerAdditionalNodePopulator">
      <explorerAdditionalNodePopulator
            populator="org.flowerplatform.editor.FileContentTypeNodePopulator">
         <nodeTypeCategory
               nodeTypeCategory="decoratableFile">
         </nodeTypeCategory>
      </explorerAdditionalNodePopulator>
   </extension>
   <extension
         point="org.flowerplatform.communication.welcomeClientContributor">
      <welcomeClientContributor
            commandToAppendToWelcomeClientCommand="org.flowerplatform.web.security.dto.InitializeCurrentUserLoggedInClientCommand">
      </welcomeClientContributor>
   </extension>
   <extension
         point="org.flowerplatform.communication.welcomeInitializationsContributor">
      <welcomeInitializationsContributor
            commandToAppendToWelcomeClientCommand="org.flowerplatform.web.remote.InitializeNodeTypeCategoryToNodeTypesMapClientCommand">
      </welcomeInitializationsContributor>
   </extension>
   <extension
         point="org.flowerplatform.web.workingDirNodeDataProvider">
      <workingDirNodeDataProvider
            provider="org.flowerplatform.web.projects.WorkingDirectoryNodeDataProvider">
         <nodeType
               nodeType="workingDirectory">
         </nodeType>
      </workingDirNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.workingDirChildrenProvider">
      <workingDirChildrenProvider
            provider="org.flowerplatform.web.projects.Project_WorkingDirectoryChildrenProvider">
         <nodeType
               nodeType="workingDirectory">
         </nodeType>
      </workingDirChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.workingDirNodeDataProvider">
      <workingDirNodeDataProvider
            provider="org.flowerplatform.web.projects.ProjectNodeDataProvider">
         <nodeType
               nodeType="project">
         </nodeType>
      </workingDirNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.workingDirChildrenProvider">
      <workingDirChildrenProvider
            provider="org.flowerplatform.web.projects.ProjFile_ProjectChildrenProvider">
         <nodeType
               nodeType="project">
         </nodeType>
         <nodeType
               nodeType="projFile">
         </nodeType>
      </workingDirChildrenProvider>
   </extension>
   <extension
         point="org.flowerplatform.web.workingDirNodeDataProvider">
      <workingDirNodeDataProvider
            provider="org.flowerplatform.web.explorer.AbstractFileWrapperNodeDataProvider">
         <nodeType
               nodeType="projFile">
         </nodeType>
      </workingDirNodeDataProvider>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="workingDirectoryTreeStatefulService"
            serviceClass="org.flowerplatform.web.projects.remote.WorkingDirectoryTreeStatefulService">
      </service>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="fileManagerService"
            serviceClass="org.flowerplatform.web.projects.remote.FileManagerService">
      </service>
   </extension>
   <extension
         point="org.flowerplatform.common.flowerProperties">
      <flowerPropertiesProvider
            flowerPropertiesProviderClass="org.flowerplatform.web.FlowerWebPropertiesProvider">
      </flowerPropertiesProvider>
   </extension>
</plugin>
