<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="codeSyncAlgorithmRunner" name="codeSyncAlgorithmRunner" schema="schema/codeSyncAlgorithmRunner.exsd"/>
   <extension
         point="org.flowerplatform.editor.contentType">
      <contentType
            contentType="codeSync">
      </contentType>
   </extension>
   <extension
         point="org.flowerplatform.editor.contentTypeToEditorMapping">
      <contentTypeToEditorMapping
            compatibleEditor="codeSync"
            contentType="codeSync"
            editorStatefulService="com.crispico.flower.mp.codesync.base.communication.CodeSyncEditorStatefulService"
            serviceId="codeSyncEditorStatefulService">
      </contentTypeToEditorMapping>
   </extension>
   <extension
         point="org.flowerplatform.properties.propertiesProvider">
      <propertiesProvider
            itemType="codeSyncElement"
            propertiesProviderClass="org.flowerplatform.codesync.CodeSyncPropertiesProvider">
      </propertiesProvider>
   </extension>

</plugin>
