<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="codeSyncAlgorithmRunner" name="codeSyncAlgorithmRunner" schema="schema/codeSyncAlgorithmRunner.exsd"/>
   <extension-point id="codeSyncElementDescriptor" name="codeSyncElementDescriptor" schema="schema/codeSyncElementDescriptor.exsd"/>
   <extension-point id="addNewExtension" name="addNewExtension" schema="schema/addNewExtension.exsd"/>
   <extension-point id="codeSyncElementFeatureConverter" name="codeSyncElementFeatureConverter" schema="schema/codeSyncElementFeatureConverter.exsd"/>
   <extension
         point="org.flowerplatform.editor.contentType">
      <contentType
            contentType="codeSync">
      </contentType>
   </extension>
   <extension
         point="org.flowerplatform.editor.contentTypeToEditorMapping">
      <contentTypeToEditorMapping
            compatibleEditor="codeSync"
            contentType="codeSync"
            editorStatefulService="com.crispico.flower.mp.codesync.base.communication.CodeSyncEditorStatefulService"
            serviceId="codeSyncEditorStatefulService">
      </contentTypeToEditorMapping>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="codeSyncDiagramOperationsService"
            serviceClass="org.flowerplatform.codesync.remote.CodeSyncDiagramOperationsService1">
      </service>
   </extension>
   <extension
         point="org.flowerplatform.codesync.addNewExtension">
      <addNewExtension
            addNewExtension="org.flowerplatform.codesync.operation_extension.AddNewTopLevelElementExtension">
      </addNewExtension>
   </extension>
   <extension
         point="org.flowerplatform.properties.propertiesProvider">
      <propertiesProvider
            itemType="codeSyncElement"
            propertiesProviderClass="org.flowerplatform.codesync.CodeSyncPropertiesProvider">
      </propertiesProvider>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="locationForNewElementsStatefulService"
            serviceClass="org.flowerplatform.codesync.remote.LocationForNewElementsStatefulService">
      </service>
   </extension>
</plugin>
