<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="codeSyncAlgorithmRunner" name="codeSyncAlgorithmRunner" schema="schema/codeSyncAlgorithmRunner.exsd"/>
   <extension
         point="org.flowerplatform.editor.contentType">
      <contentType
            contentType="codeSync">
      </contentType>
   </extension>
   <extension
         point="org.flowerplatform.editor.contentTypeToEditorMapping">
      <contentTypeToEditorMapping
            compatibleEditor="codeSync"
            contentType="codeSync"
            editorStatefulService="com.crispico.flower.mp.codesync.base.communication.CodeSyncEditorStatefulService"
            serviceId="codeSyncEditorStatefulService">
      </contentTypeToEditorMapping>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="codeSyncDiagramOperationsService"
            serviceClass="org.flowerplatform.codesync.remote.CodeSyncDiagramOperationsService">
      </service>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="codeSyncOperationsService"
            serviceClass="org.flowerplatform.codesync.remote.CodeSyncOperationsService">
      </service>
   </extension>
   <extension
         point="org.flowerplatform.properties.propertiesProvider">
      <propertiesProvider
            itemType="codeSyncElement"
            propertiesProviderClass="org.flowerplatform.codesync.CodeSyncPropertiesProvider">
      </propertiesProvider>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="locationForNewElementsStatefulService"
            serviceClass="org.flowerplatform.codesync.remote.LocationForNewElementsStatefulService">
      </service>
   </extension>
   <extension
         point="org.flowerplatform.properties.propertiesProvider">
      <propertiesProvider
            itemType="descriptorElement"
            propertiesProviderClass="org.flowerplatform.codesync.DescriptorPropertiesProvider">
      </propertiesProvider>
   </extension>
</plugin>
