<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.flowerplatform.codesync.code.javascript.regex_ast.RegExAstPackage"
            genModel="emf_model/RegExAst.genmodel"
            uri="http://www.flower-platform.com/xmi/regex_ast_1.0.0">
      </package>
   </extension>
   <extension
         point="org.flowerplatform.codesync.code.modelAdapterFactorySet">
      <modelAdapterFactorySet
            modelAdapterFactorySetClass="org.flowerplatform.codesync.code.javascript.adapter.JavascriptModelAdapterFactorySet"
            technology="js">
      </modelAdapterFactorySet>
   </extension>
   <extension
         point="org.flowerplatform.editor.model.dragOnDiagramHandler">
      <dragOnDiagramHandler
            dragOnDiagramHandler="org.flowerplatform.codesync.code.javascript.JavascriptDragOnDiagramHandler">
      </dragOnDiagramHandler>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncAlgorithmRunner">
      <codeSyncAlgorithmRunner
            codeSyncAlgorithmRunnerClass="com.crispico.flower.mp.codesync.code.CodeSyncAlgorithmRunner"
            technology="js">
      </codeSyncAlgorithmRunner>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncElementDescriptor">
      <codeSyncElementDescriptor
            codeSyncType="backboneClass"
            label="Backbone Class">
         <childrenCodeSyncTypeCategory
               name="requireEntry">
         </childrenCodeSyncTypeCategory>
         <childrenCodeSyncTypeCategory
               name="backboneClassMember">
         </childrenCodeSyncTypeCategory>
      </codeSyncElementDescriptor>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncElementDescriptor">
      <codeSyncElementDescriptor
            codeSyncType="javaScriptOperation"
            label="Operation">
         <codeSyncTypeCategory
               name="backboneClassMember">
         </codeSyncTypeCategory>
      </codeSyncElementDescriptor>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncElementDescriptor">
      <codeSyncElementDescriptor
            codeSyncType="javaScriptAttribute"
            label="Attribute">
         <codeSyncTypeCategory
               name="backboneClassMember">
         </codeSyncTypeCategory>
      </codeSyncElementDescriptor>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncElementDescriptor">
      <codeSyncElementDescriptor
            codeSyncType="requireEntry"
            label="Require Entry">
         <codeSyncTypeCategory
               name="requireEntry">
         </codeSyncTypeCategory>
      </codeSyncElementDescriptor>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncElementDescriptor">
      <codeSyncElementDescriptor
            codeSyncType="eventsAttribute"
            label="Events">
         <codeSyncTypeCategory
               name="backboneClassMember">
         </codeSyncTypeCategory>
         <childrenCodeSyncTypeCategory
               name="eventsAttributeEntry">
         </childrenCodeSyncTypeCategory>
      </codeSyncElementDescriptor>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncElementDescriptor">
      <codeSyncElementDescriptor
            codeSyncType="routesAttribute"
            label="Routes">
         <codeSyncTypeCategory
               name="backboneClassMember">
         </codeSyncTypeCategory>
         <childrenCodeSyncTypeCategory
               name="routesAttributeEntry">
         </childrenCodeSyncTypeCategory>
      </codeSyncElementDescriptor>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncElementDescriptor">
      <codeSyncElementDescriptor
            codeSyncType="eventsAttributeEntry"
            label="Event">
         <codeSyncTypeCategory
               name="eventsAttributeEntry">
         </codeSyncTypeCategory>
      </codeSyncElementDescriptor>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncElementDescriptor">
      <codeSyncElementDescriptor
            codeSyncType="routesAttributeEntry"
            label="Route">
         <codeSyncTypeCategory
               name="routesAttributeEntry">
         </codeSyncTypeCategory>
      </codeSyncElementDescriptor>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncElementDescriptor">
      <codeSyncElementDescriptor
            codeSyncType="table"
            label="Table"
            iconUrl="images/full/obj16/table.gif">
         <childrenCodeSyncTypeCategory
               name="tableHeaderEntry">
         </childrenCodeSyncTypeCategory>
      </codeSyncElementDescriptor>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncElementDescriptor">
      <codeSyncElementDescriptor
            codeSyncType="tableHeaderEntry"
            label="Table Header Entry">
         <codeSyncTypeCategory
               name="tableHeaderEntry">
         </codeSyncTypeCategory>
      </codeSyncElementDescriptor>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncElementDescriptor">
      <codeSyncElementDescriptor
            codeSyncType="tableItem"
            label="Table Item">
         <childrenCodeSyncTypeCategory
               name="tableItemEntry">
         </childrenCodeSyncTypeCategory>
      </codeSyncElementDescriptor>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncElementDescriptor">
      <codeSyncElementDescriptor
            codeSyncType="tableItemEntry"
            label="Table Item Entry">
         <codeSyncTypeCategory
               name="tableItemEntry">
         </codeSyncTypeCategory>
      </codeSyncElementDescriptor>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncElementDescriptor">
      <codeSyncElementDescriptor
            codeSyncType="form"
            label="Form">
         <childrenCodeSyncTypeCategory
               name="formItem">
         </childrenCodeSyncTypeCategory>
      </codeSyncElementDescriptor>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncElementDescriptor">
      <codeSyncElementDescriptor
            codeSyncType="formItem"
            label="Form Item">
         <codeSyncTypeCategory
               name="formItem">
         </codeSyncTypeCategory>
      </codeSyncElementDescriptor>
   </extension>
   <extension
         point="org.flowerplatform.communication.service">
      <service
            id="locationForNewElementsStatefulService"
            serviceClass="org.flowerplatform.codesync.code.javascript.remote.LocationForNewElementsStatefulService">
      </service>
   </extension>

</plugin>
