<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.flowerplatform.codesync.code.javascript.regex_ast.RegExAstPackage"
            genModel="emf_model/RegExAst.genmodel"
            uri="http://www.flower-platform.com/xmi/regex_ast_1.0.0">
      </package>
   </extension>
   <extension
         point="org.flowerplatform.codesync.code.modelAdapterFactorySet">
      <modelAdapterFactorySet
            modelAdapterFactorySetClass="org.flowerplatform.codesync.code.javascript.adapter.JavaScriptModelAdapterFactorySet"
            technology="js">
      </modelAdapterFactorySet>
   </extension>
   <extension
         point="org.flowerplatform.editor.model.dragOnDiagramHandler">
      <dragOnDiagramHandler
            dragOnDiagramHandler="org.flowerplatform.codesync.code.javascript.JavascriptDragOnDiagramHandler">
      </dragOnDiagramHandler>
   </extension>
   <extension
         point="org.flowerplatform.codesync.codeSyncAlgorithmRunner">
      <codeSyncAlgorithmRunner
            codeSyncAlgorithmRunnerClass="com.crispico.flower.mp.codesync.code.CodeSyncAlgorithmRunner"
            technology="js">
      </codeSyncAlgorithmRunner>
   </extension>
   <extension
         point="org.flowerplatform.editor.model.contentAssist">
      <contentAssist
            contentAssist="org.flowerplatform.codesync.code.javascript.JavaScriptCodeSyncElementContentAssist">
      </contentAssist>
   </extension>

</plugin>
