<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.flowerplatform.codesync.code.modelAdapterFactorySet">
      <modelAdapterFactorySet
            id="org.flowerplatform.codesync.code.java.JavaModelAdapterFactorySet"
            technology="java"
            modelAdapterFactorySetClass="org.flowerplatform.codesync.code.java.JavaModelAdapterFactorySet">
      </modelAdapterFactorySet>
   </extension>

   <extension
         point="org.flowerplatform.editor.model.dragOnDiagramHandler">
      <dragOnDiagramHandler
            dragOnDiagramHandler="org.flowerplatform.editor.model.java.JavaDragOnDiagramHandler">
      </dragOnDiagramHandler>
   </extension>

</plugin>