<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="dragOnDiagramHandler" name="dragOnDiagramHandler" schema="schema/dragOnDiagramHandler.exsd"/>
   <extension-point id="contentAssist" name="contentAssist" schema="schema/contentAssist.exsd"/>
   <extension
         point="org.flowerplatform.editor.contentType">
      <contentType
            contentType="diagram">
      </contentType>
   </extension>
   <extension
         point="org.flowerplatform.editor.contentTypeToEditorMapping">
      <contentTypeToEditorMapping
            compatibleEditor="diagram"
            contentType="diagram"
            editorStatefulService="org.flowerplatform.editor.model.remote.DiagramEditorStatefulService"
            serviceId="diagramEditorStatefulService">
      </contentTypeToEditorMapping>
   </extension>
   <extension
         point="org.flowerplatform.editor.fileExtensionToContentTypeMapping">
      <fileExtensionToContentTypeMapping
            contentType="diagram"
            fileExtension="notation">
      </fileExtensionToContentTypeMapping>
   </extension>

</plugin>
