<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.flower-platform.com/xmi/regex_1.0.0"
            class="org.flowerplatform.emf_model.regex.RegexPackage"
            genModel="emf_model/Regex.genmodel"/>
   </extension>

</plugin>
